# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\13.hadoop-pro\example-showdata1\example-showdata\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
